.App {
 text-align: center;
}

ul {
 list-style-type: none;
}

li {
 display: inline;
 margin: 0 20px;
}

.activeNav {
 font-weight: 700;
 color: rgb(5, 38, 172);
}

.navBar {
 padding: 20px 0;
}

.updateForm {
 width: 40%;
 margin: 0 auto;
}
.updateForm input {
 font-size: 1.2rem;
 margin: 5px;
 text-align: center;
}

.displayFlex {
 display: flex;
}
.displayFlex button {
 display: flex;
 margin: 0 auto;
}

.Smurf {
 /* margin-top: 20px; */
 margin: 20px auto;
 max-width: 40%;
}
