.App {
 text-align: center;
}

ul {
 list-style-type: none;
}

li {
 display: inline;
 margin: 0 20px;
}

.activeNav {
 font-weight: 700;
 color: rgb(5, 38, 172);
}

.navBar {
 padding: 20px 0;
}

.updateForm {
 width: 200px;
 margin: 0 auto;
}
.updateForm input {
 font-size: 1.2rem;
 margin: 5px;
 text-align: center;
}
